body{
	background-color: #6d9773;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.container{
	background-color: #0c3b2e;
	width: 360px;
	height: 580px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 4px 5px 7px #6d9773, 4px 5px 10px rgb(0, 0, 0, 0.7);
}

.display{
	background-color: #424530;
	width: 310px;
	height: 130px;
	border-radius: 20px;
	margin: 10px;
	box-shadow: inset 4px 5px 7px rgb(0, 0, 0, 0.7), 4px 5px 10px #0c3b2e;
}

.display input{
	background-color: transparent;
	width: 290px;
	height: 120px;
	border-radius: 20px;
	font-size: 45px;
	text-align: end;
	color: whitesmoke;
	border: none;
	outline: none;
}

.button{
	background-color: transparent;
	width: 320px;
	height: 390px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tombol-kiri{
	background-color: transparent;
	width: 280px;
	height: 390px;
	display: grid;
	justify-content: space-around;
	align-items: center;
}

.tombol{
	background-color: #e09132;
	border: none;
	outline: none;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	box-shadow: inset 2px 2px 3px  rgb(255, 255, 255, 0.5); , 4px 5px 10px rgb(0, 0, 0, 0.7);
	margin: 10px;
	font-size: 20px;
}

.tombol-kanan{
	background-color: #424530;
	width: 120px;
	height: 390px;
	display: grid;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	box-shadow: inset 4px 5px 7px rgb(0, 0, 0, 0.7), 4px 5px 10px #0c3b2e;

}

.tombol-kanan input{
	background-color: #f97c00;
	color: whitesmoke;
}